/* .container{
    display: flex;
    justify-content: center;
    justify-items: center;
    /* width: 80%; 
}


.content{
    padding: 20px; 
}

.feature-content{
    display: flex;
    justify-content: center;
    
    padding: 20px; 
} */